body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggleButton{
  border: none;
  height: 45px;
  width: 160px;
  background-color: rgba(223, 222, 222, 0.822) ;
  font-size: 20px;
  font-weight: 500;
  border-radius: 18px;
  cursor: pointer;
  border: 4px solid black;
}
.toggleButton:hover{
  border: 4px solid rgb(0, 214, 143);
  background-color: aqua;
  color: rgb(6, 167, 221);
}

.darkMode{
  background-color: #000;
}
.darkMode h1{
  color: white;
}
.darkMode .toggleButton{
  background-color: black;
  color: white;
  border: 4px solid white;
}
.darkMode .toggleButton:hover{
  background-color: aquamarine;
  color: #000;
}

.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  min-height: 100vh;
}

.notesList{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.Note.new {
  background-color: rgb(53, 255, 188);
}

textarea {
  border: none;
  resize: none;
  background-color: rgb(53, 255, 188);
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
}
textarea:focus{
  outline: none;
}
.save{
  background-color: rgba(1, 175, 255, 0.897);
  border: none;
  border-radius: 15px;
  height: 30px;
  width: 70px;
  cursor: pointer;
  font-size: 17px;
  color: darkblue;
  font-weight: 500;
}
.save:hover{
  border: 4px solid rgb(15, 191, 223);
  background-color: rgb(53, 255, 188);
}


.Note {
  background-color: aqua;
  border-radius: 10px;
  padding: 1rem;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}
.Note span{
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
}

.noteFooter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
}

.deleteIcon{
  cursor: pointer;
}
.search{
  display: flex;
  align-items: center;
  background-color: rgb(216, 216, 216);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: inherit;
}
.search input:focus {
  outline: none;
}